
{% csrf_token %}
<div>
	<label>Title:</label><br/>
	<input type="text" name="summary" value="{{ issue.summary }}"/><br/>
</div>

<div>
<label>Description:</label><br/>
<input type="text" name="description" value="{{ issue.description }}"/><br/>
</div>

<div>
<label>Status:</label><br/>
    <select>
    {% for status in statuses %}
        <option name="status">{{ status }}</option>
    {% endfor %}</select>
</div>

<div>
<label>Type:</label><br/>
    <select>
    {% for type in typies %}
        <option name="issue_type">{{ type }}</option>
    {% endfor %}</select>
</div>
<br/>
<br/>