{% extends 'base.html' %}
{% block title %}Задача{% endblock %}
{% block content %}
    <div class="mt-3">
    	Заголовок: {{ issue.summary }}<br>
    	Описание: {{ issue.description }}<br>
    	Статус: {{ issue.status }}<br>
    	Тип: {{ issue.issue_type }}<br>
    	Дата создания: {{ issue.created_at }}<br>
            <li class='align-top'><a href="{% url 'del_issue' issue.pk %}">Удалить задачу</a></li>
            <li class='align-top'><a href="{% url 'issue_update' issue.pk %}">Редактировать задачу</a></li>
    </div>
{% endblock %}
